html {
    background-color: #23384a;
    color: white;
    font-family: 'Lato';
}

body {
    display: flex;
}

.map-container {
    flex-grow: 1;
}

.name-container {
    width: 200px;
    cursor: pointer;
}

.list-item:hover {
    
    color: #FFFF00;
}

#list-item-highlighted {
    color: rgb(25, 0, 255);
}